@import "tailwindcss";

body {
  font-family: "Microsoft JhengHei", "微軟正黑體", -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
.font-mono {
  font-family: "Courier New", Courier, monospace;
}

/* 平滑滚动 */
html {
  scroll-behavior: smooth;
}
